[Unit]
Description=Moode 9341ft Framebuffer Display
After=mpd.socket mpd.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/russ/moode_9341_fb/moode_9341_fb.py
Restart=on-failure # Restart if it fails

[Install]
WantedBy=multi-user.target # Standard target for normal boot